### Library

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import datacompy
import os, sys
import numpy as np
import re
import ast
import gower
from pathlib import Path

# narzedzia
from sklearn.model_selection import (
    train_test_split,
    cross_val_score,
    cross_val_predict,
    learning_curve,
    RepeatedStratifiedKFold,
    GridSearchCV,
)
from collections import Counter
from sklearn.metrics import classification_report, confusion_matrix, silhouette_score, accuracy_score, pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity
from sklearn import tree
from sklearn.tree import plot_tree
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from scipy import stats
from scipy.stats import chi2_contingency
from scipy.spatial import distance
from joblib import dump, load

# modele
from xgboost import XGBClassifier, XGBRFClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# methods
from imblearn.under_sampling import ClusterCentroids, NearMiss
from scipy.optimize import differential_evolution
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN, HDBSCAN
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor, KNeighborsClassifier, NearestNeighbors
from sklearn.inspection import permutation_importance
from scipy.spatial.distance import euclidean
from imblearn.over_sampling import SMOTE, BorderlineSMOTE
#from ctgan import CTGAN

### Read datasets after preprocessed

In [22]:
#oversampling data
original_df = pd.read_csv("D:\\ml\\undersampling_data\\data\\ssh\\encoded_normalized\\original_data_normalized.csv")
mix_df = pd.read_csv("D:\\ml\\undersampling_data\\data\\ssh\\encoded_normalized\\mix_data_normalized.csv")
smote_df = pd.read_csv("D:\\ml\\undersampling_data\\data\\ssh\\encoded_normalized\\smote_data_normalized.csv") 
gan_df = pd.read_csv("D:\\ml\\undersampling_data\\data\\ssh\\encoded_normalized\\GAN_data_normalized.csv")
borderline_df = pd.read_csv("D:\\ml\\undersampling_data\\data\\ssh\\encoded_normalized\\borderline_data_normalized.csv")

X_test = pd.read_csv("D:\\ml\\undersampling_data\\data\\ssh\\test\\X_test_norm.csv")

In [23]:
#Before undersampling
print(original_df["target"].value_counts())
count1=original_df["target"].value_counts().sum()
count2=abs((original_df['target']==0).sum() - (original_df['target']==1).sum())
print(f"Before undersampling: {count2}")
print(f"After number of samples: {count1+count2}")

target
0    151
1     46
Name: count, dtype: int64
Before undersampling: 105
After number of samples: 302

In [24]:
#Sum up all df 
sum_all_data = pd.concat([smote_df, gan_df, borderline_df, original_df], axis=0, ignore_index=True)

#Split data
X_mix, y_mix = mix_df.drop(columns=["target", "source"]), mix_df["target"]
X_smote, y_smote = smote_df.drop(columns=["target", "source"]), smote_df["target"]
X_GAN, y_GAN = gan_df.drop(columns=["target", "source"]), gan_df["target"]
X_borderline, y_borderline = borderline_df.drop(columns=["target", "source"]), borderline_df["target"]

#Dictionary
data = {}
data["mix"] = (X_mix, y_mix)
data["smote"] = (X_smote, y_smote)
data["GAN"] = (X_GAN, y_GAN)
data["borderline"] = (X_borderline, y_borderline)

compare = {}
compare["mix"] = mix_df
compare["smote"] = smote_df
compare["GAN"] = gan_df
compare["borderline"] = borderline_df

In [34]:
print(mix_df.info())
print(smote_df.info())
print(gan_df.info())
print(borderline_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 59 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kamran           315 non-null    float64
 1   student          315 non-null    float64
 2   root             315 non-null    float64
 3   admins           315 non-null    float64
 4   phoenix          315 non-null    float64
 5   piglet           315 non-null    float64
 6   rainbow          315 non-null    float64
 7   runner           315 non-null    float64
 8   sam              315 non-null    float64
 9   abc123           315 non-null    float64
 10  passwd           315 non-null    float64
 11  newpass          315 non-null    float64
 12  notused          315 non-null    float64
 13  Hockey           315 non-null    float64
 14  internet         315 non-null    float64
 15  asshole          315 non-null    float64
 16  Maddock          315 non-null    float64
 17  computer         315 non-null    float64
 18  Mickey           315 non-null    float64
 19  qwerty           315 non-null    float64
 20  fiction          315 non-null    float64
 21  orange           315 non-null    float64
 22  tigger           315 non-null    float64
 23  wheeling         315 non-null    float64
 24  mustang          315 non-null    float64
 25  admin            315 non-null    float64
 26  jennifer         315 non-null    float64
 27  money            315 non-null    float64
 28  Justin           315 non-null    float64
 29  chris            315 non-null    float64
 30  david            315 non-null    float64
 31  foobar           315 non-null    float64
 32  buster           315 non-null    float64
 33  harley           315 non-null    float64
 34  jordan           315 non-null    float64
 35  stupid           315 non-null    float64
 36  apple            315 non-null    float64
 37  fred             315 non-null    float64
 38  summer           315 non-null    float64
 39  sunshine         315 non-null    float64
 40  andrew           315 non-null    float64
 41  osamac           315 non-null    float64
 42  gta              315 non-null    float64
 43  adminx           315 non-null    float64
 44  gtta             315 non-null    float64
 45  osamax           315 non-null    float64
 46  is_private       315 non-null    float64
 47  is_failure       315 non-null    float64
 48  is_root          315 non-null    float64
 49  is_valid         315 non-null    float64
 50  not_valid_count  315 non-null    float64
 51  ip_failure       315 non-null    float64
 52  ip_success       315 non-null    float64
 53  no_failure       315 non-null    float64
 54  first            315 non-null    float64
 55  td               315 non-null    float64
 56  ts               315 non-null    float64
 57  target           315 non-null    float64
 58  source           315 non-null    object
dtypes: float64(58), object(1)
memory usage: 145.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 51 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kamran           105 non-null    float64
 1   student          105 non-null    float64
 2   root             105 non-null    float64
 3   admins           105 non-null    float64
 4   phoenix          105 non-null    float64
 5   piglet           105 non-null    float64
 6   rainbow          105 non-null    float64
 7   runner           105 non-null    float64
 8   sam              105 non-null    float64
 9   passwd           105 non-null    float64
 10  newpass          105 non-null    float64
 11  notused          105 non-null    float64
 12  Hockey           105 non-null    float64
 13  internet         105 non-null    float64
 14  asshole          105 non-null    float64
 15  Maddock          105 non-null    float64
 16  computer         105 non-null    float64
 17  Mickey           105 non-null    float64
 18  qwerty           105 non-null    float64
 19  fiction          105 non-null    float64
 20  orange           105 non-null    float64
 21  mustang          105 non-null    float64
 22  admin            105 non-null    float64
 23  jennifer         105 non-null    float64
 24  money            105 non-null    float64
 25  chris            105 non-null    float64
 26  david            105 non-null    float64
 27  foobar           105 non-null    float64
 28  buster           105 non-null    float64
 29  harley           105 non-null    float64
 30  jordan           105 non-null    float64
 31  stupid           105 non-null    float64
 32  apple            105 non-null    float64
 33  fred             105 non-null    float64
 34  summer           105 non-null    float64
 35  sunshine         105 non-null    float64
 36  osamac           105 non-null    float64
 37  gtta             105 non-null    float64
 38  is_private       105 non-null    int64
 39  is_failure       105 non-null    int64
 40  is_root          105 non-null    int64
 41  is_valid         105 non-null    int64
 42  not_valid_count  105 non-null    float64
 43  ip_failure       105 non-null    float64
 44  ip_success       105 non-null    float64
 45  no_failure       105 non-null    float64
 46  first            105 non-null    int64
 47  td               105 non-null    float64
 48  ts               105 non-null    float64
 49  target           105 non-null    int64
 50  source           105 non-null    object
dtypes: float64(44), int64(6), object(1)
memory usage: 42.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 43 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kamran           105 non-null    float64
 1   root             105 non-null    float64
 2   admins           105 non-null    float64
 3   phoenix          105 non-null    float64
 4   piglet           105 non-null    float64
 5   runner           105 non-null    float64
 6   sam              105 non-null    float64
 7   abc123           105 non-null    float64
 8   newpass          105 non-null    float64
 9   notused          105 non-null    float64
 10  Hockey           105 non-null    float64
 11  internet         105 non-null    float64
 12  asshole          105 non-null    float64
 13  Maddock          105 non-null    float64
 14  computer         105 non-null    float64
 15  Mickey           105 non-null    float64
 16  fiction          105 non-null    float64
 17  wheeling         105 non-null    float64
 18  mustang          105 non-null    float64
 19  money            105 non-null    float64
 20  Justin           105 non-null    float64
 21  chris            105 non-null    float64
 22  david            105 non-null    float64
 23  stupid           105 non-null    float64
 24  fred             105 non-null    float64
 25  andrew           105 non-null    float64
 26  gta              105 non-null    float64
 27  adminx           105 non-null    float64
 28  gtta             105 non-null    float64
 29  osamax           105 non-null    float64
 30  is_private       105 non-null    int64
 31  is_failure       105 non-null    int64
 32  is_root          105 non-null    int64
 33  is_valid         105 non-null    int64
 34  not_valid_count  105 non-null    float64
 35  ip_failure       105 non-null    float64
 36  ip_success       105 non-null    float64
 37  no_failure       105 non-null    float64
 38  first            105 non-null    int64
 39  td               105 non-null    float64
 40  ts               105 non-null    float64
 41  target           105 non-null    int64
 42  source           105 non-null    object
dtypes: float64(36), int64(6), object(1)
memory usage: 35.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 45 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   phoenix          105 non-null    float64
 1   rainbow          105 non-null    float64
 2   runner           105 non-null    float64
 3   sam              105 non-null    float64
 4   abc123           105 non-null    float64
 5   passwd           105 non-null    float64
 6   notused          105 non-null    float64
 7   internet         105 non-null    float64
 8   asshole          105 non-null    float64
 9   Maddock          105 non-null    float64
 10  Mickey           105 non-null    float64
 11  qwerty           105 non-null    float64
 12  fiction          105 non-null    float64
 13  orange           105 non-null    float64
 14  tigger           105 non-null    float64
 15  wheeling         105 non-null    float64
 16  mustang          105 non-null    float64
 17  admin            105 non-null    float64
 18  jennifer         105 non-null    float64
 19  money            105 non-null    float64
 20  Justin           105 non-null    float64
 21  chris            105 non-null    float64
 22  david            105 non-null    float64
 23  foobar           105 non-null    float64
 24  buster           105 non-null    float64
 25  harley           105 non-null    float64
 26  jordan           105 non-null    float64
 27  stupid           105 non-null    float64
 28  apple            105 non-null    float64
 29  fred             105 non-null    float64
 30  summer           105 non-null    float64
 31  sunshine         105 non-null    float64
 32  is_private       105 non-null    int64
 33  is_failure       105 non-null    int64
 34  is_root          105 non-null    int64
 35  is_valid         105 non-null    int64
 36  not_valid_count  105 non-null    float64
 37  ip_failure       105 non-null    float64
 38  ip_success       105 non-null    float64
 39  no_failure       105 non-null    float64
 40  first            105 non-null    int64
 41  td               105 non-null    float64
 42  ts               105 non-null    float64
 43  target           105 non-null    int64
 44  source           105 non-null    object
dtypes: float64(38), int64(6), object(1)
memory usage: 37.0+ KB
None

### Undersampling df

#### Kmeans + centroids

In [25]:
def normalize_col(c):
    s = str(c).strip()
    # Jeśli to czysta liczba, ujednolić np. do STRINGA (lub do int – ale trzymaj się jednego wyboru wszędzie!)
    return s
def clean_df_cols(df: pd.DataFrame) -> pd.DataFrame:
    # usuń Unnamed
    df = df.loc[:, ~df.columns.astype(str).str.contains(r"^Unnamed", na=False)]
    # normalizuj nazwy
    df.columns = [normalize_col(c) for c in df.columns]
    return df
original_df = clean_df_cols(original_df)
print(original_df.columns)

Index(['kamran', 'root', 'admins', 'phoenix', 'piglet', 'runner', 'sam',
       'newpass', 'notused', 'internet', 'asshole', 'Maddock', 'computer',
       'Mickey', 'qwerty', 'fiction', 'orange', 'tigger', 'wheeling',
       'mustang', 'jennifer', 'money', 'chris', 'david', 'foobar', 'buster',
       'harley', 'jordan', 'stupid', 'apple', 'fred', 'summer', 'andrew',
       'osamac', 'gta', 'adminx', 'gtta', 'osamax', 'is_private', 'is_failure',
       'is_root', 'is_valid', 'not_valid_count', 'ip_failure', 'ip_success',
       'no_failure', 'first', 'td', 'ts', 'target', 'source'],
      dtype='object')

In [33]:
KM = KMeans(n_clusters=(int)(count2))
base = Path("D:/ml/undersampling_data/data/ssh/reduced")

df_ = {}

for name in data.keys() & compare.keys():
    # Read data from dictionary
    X_train, y_train = data[name]
    compare_df = compare[name]
    
    # Select majority class
    X_majority = X_train[y_train == 1]
    
    # Apply KMeans clustering
    kmeans = KM.fit(X_majority)
    
    # Create a DataFrame for centroids
    X_majority_reduced = pd.DataFrame(kmeans.cluster_centers_, columns=X_train.columns)
    y_majority_reduced = pd.Series([1] * (int)(count2), name="target") 
    
    # Combine reduced majority class with original minority class
    df_majority = pd.concat([X_majority_reduced, y_majority_reduced], axis=1).reset_index(drop=True)
    
    # Add source column if not present
    df_majority["source"] = None
    missing_source = df_majority[df_majority["source"].isna()]
    if not missing_source.empty:
        df_majority.loc[df_majority["source"].isna(), "source"] = "centroid" 
    
    print(df_majority)
    df_majority = df_majority.reindex(columns=original_df.columns, fill_value=0.0)
    
    # Combine with original minority class
    df_[name] = pd.concat([df_majority, original_df], axis=0).reset_index(drop=True)  
    
    print(df_[name].info())
    
    user_cols = [
    'kamran', 'student', 'root', 'admins', 'phoenix', 'piglet',
    'rainbow', 'runner', 'sam', 'abc123', 'passwd', 'newpass',
    'notused', 'Hockey', 'internet', 'asshole', 'Maddock', 'computer',
    'Mickey', 'qwerty', 'fiction', 'orange', 'tigger', 'wheeling',
    'mustang', 'admin', 'jennifer', 'money', 'Justin', 'chris',
    'david', 'foobar', 'buster', 'harley', 'jordan', 'stupid',
    'apple', 'fred', 'summer', 'sunshine', 'andrew', 'osamac',
    'gta', 'adminx', 'gtta', 'osamax'
    ]
    df = df_[name]
    # policz sumę wartości 1 w każdym wierszu
    row_sums = df[user_cols].sum(axis=1)
    mask = row_sums == 1

    # jeśli chcesz sprawdzić globalnie:
    all_ok = mask.all()

    print("Czy każdy wiersz ma dokładnie jedno '1' w kolumnach 1–45? ->", all_ok)
    
    
    # Save to CSV if file does not exist
    file_path = base / f"{name}_KM_centroids.csv"

    if os.path.exists(file_path):
        print("File exists.")
    else:
        df_[name].to_csv(file_path, index=False)
        print("File saved.")

c:\Users\mateu\anaconda3\envs\python8\lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)
c:\Users\mateu\anaconda3\envs\python8\lib\site-packages\sklearn\cluster\_kmeans.py:1436: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

     phoenix  rainbow  runner  sam  abc123  passwd  notused  internet  \
0        0.0      0.0     0.0  0.0     0.0     0.0      1.0       0.0
1        0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0
2        0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0
3        0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0
4        0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0
..       ...      ...     ...  ...     ...     ...      ...       ...
100      0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0
101      0.0      0.0     0.0  0.0     0.0     0.0      0.0       1.0
102      0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0
103      0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0
104      0.0      0.0     0.0  0.0     0.0     0.0      0.0       0.0

     asshole  Maddock  ...  is_valid  not_valid_count  ip_failure  ip_success  \
0        0.0      0.0  ...       0.0        -0.474612   -0.325828   -0.782460
1        0.0      0.0  ...       0.0         0.507516   -0.031387   -0.782460
2        0.0      0.0  ...       1.0        -0.474612    0.066760   -0.782460
3        0.0      0.0  ...       1.0        -0.474612    0.066760   -0.782460
4        0.0      0.0  ...       0.0         0.507516    0.557495   -0.678589
..       ...      ...  ...       ...              ...         ...         ...
100      0.0      0.0  ...       0.0         0.311090    0.557495   -0.678589
101      0.0      0.0  ...       0.0        -0.474612   -0.227681   -0.678589
102      0.0      0.0  ...       0.0         0.311090    0.557495   -0.678589
103      0.0      0.0  ...       1.0        -0.474612   -0.031387   -0.782460
104      0.0      0.0  ...       1.0        -0.474612    0.164907   -0.782460

     no_failure  first        td        ts  target    source
0      0.134011    0.0 -0.148090  0.517965       1  centroid
1     -0.054562    0.0 -0.148953 -1.462990       1  centroid
2      0.416869    0.0 -0.148332  0.538298       1  centroid
3      0.228297    0.0 -0.148539 -1.049511       1  centroid
4     -0.054562    0.0 -0.148712 -0.036870       1  centroid
..          ...    ...       ...       ...     ...       ...
100   -0.054562    0.0 -0.148574  0.512402       1  centroid
101    0.039725    0.0 -0.148228  0.516124       1  centroid
102   -0.054562    0.0 -0.148574  0.512875       1  centroid
103    0.134011    0.0 -0.148919  0.538296       1  centroid
104    0.416869    0.0 -0.148401 -1.952874       1  centroid

[105 rows x 45 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 51 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   kamran           302 non-null    float64
 1   root             302 non-null    float64
 2   admins           302 non-null    float64
 3   phoenix          302 non-null    float64
 4   piglet           302 non-null    float64
 5   runner           302 non-null    float64
 6   sam              302 non-null    float64
 7   newpass          302 non-null    float64
 8   notused          302 non-null    float64
 9   internet         302 non-null    float64
 10  asshole          302 non-null    float64
 11  Maddock          302 non-null    float64
 12  computer         302 non-null    float64
 13  Mickey           302 non-null    float64
 14  qwerty           302 non-null    float64
 15  fiction          302 non-null    float64
 16  orange           302 non-null    float64
 17  tigger           302 non-null    float64
 18  wheeling         302 non-null    float64
 19  mustang          302 non-null    float64
 20  jennifer         302 non-null    float64
 21  money            302 non-null    float64
 22  chris            302 non-null    float64
 23  david            302 non-null    float64
 24  foobar           302 non-null    float64
 25  buster           302 non-null    float64
 26  harley           302 non-null    float64
 27  jordan           302 non-null    float64
 28  stupid           302 non-null    float64
 29  apple            302 non-null    float64
 30  fred             302 non-null    float64
 31  summer           302 non-null    float64
 32  andrew           302 non-null    float64
 33  osamac           302 non-null    float64
 34  gta              302 non-null    float64
 35  adminx           302 non-null    float64
 36  gtta             302 non-null    float64
 37  osamax           302 non-null    float64
 38  is_private       302 non-null    float64
 39  is_failure       302 non-null    float64
 40  is_root          302 non-null    float64
 41  is_valid         302 non-null    float64
 42  not_valid_count  302 non-null    float64
 43  ip_failure       302 non-null    float64
 44  ip_success       302 non-null    float64
 45  no_failure       302 non-null    float64
 46  first            302 non-null    float64
 47  td               302 non-null    float64
 48  ts               302 non-null    float64
 49  target           302 non-null    int64
 50  source           302 non-null    object
dtypes: float64(49), int64(1), object(1)
memory usage: 120.5+ KB
None

KeyError: "['student', 'rainbow', 'abc123', 'passwd', 'Hockey', 'admin', 'Justin', 'sunshine'] not in index"